@import "@/shared/styles";

.moreBtn {
  padding: 0;
  color: $primary;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  @include hover() {
    transform: translateY(-2px);
  }
}
